
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
ENV/

# PyInstaller
*.manifest
*.spec

# IDEs
.idea/
.vscode/

# Project specific
docs/
models/
!src/models/
runs/
*.log
Backup/
tests/
output/
*_annotated.png
*_analysis.json

src/Critic.md
src/verify_histogram_classifier.py

src/ui/rendering/icons/guideicon.pdf
src/train/gerador_charts/*